<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.carfactory.dao.IProviderDAO">

    <insert id="createItem" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
        INSERT INTO providers(name, email, phone)
        VALUES(#{street} #{number} #{dept_number})
        ]]>
    </insert>

    <update id="updateItem">
        <![CDATA[
        UPDATE providers SET name=#{name} email=#{email} phone=#{phone}
        WHERE id=#{id}
        ]]>
    </update>

    <delete id="deleteItem">
        <![CDATA[
        DELETE FROM providers WHERE id=#{id}
        ]]>
    </delete>

    <select id="getItemById" resultMap="providerResultMap">
        <![CDATA[
        SELECT id, name, email, phone, address_id
        FROM providers WHERE id=#{id}
        ]]>
    </select>

    <resultMap id="providerResultMap" type="com.solvd.carfactory.models.supply.Provider" autoMapping="false">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <association property="address"
                     resultMap="com.solvd.carfactory.dao.IAddressDAO.addressResultMap"
                     columnPrefix="address_"/>
    </resultMap>

    <select id="getNestedProviderById" resultMap="providerNestedResultMap">
        <![CDATA[
        SELECT id, name, email, phone, address_id
        FROM providers WHERE id=#{id}
        ]]>
    </select>

    <resultMap id="providerNestedResultMap" type="com.solvd.carfactory.models.supply.Provider" autoMapping="false">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <association property="address"
                     column="address_id"
                     select="com.solvd.carfactory.dao.IAddressDAO.getNestedAddressById"/>
    </resultMap>
</mapper>